<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 600px;
        }
    </style>
</head>
<body>

<div class="container">
    <img th:src="@{/img/homeFront.png}" style="display:block; margin:0 auto; width:200px; height:200px" />

    <div style="padding:10px">
        <label for="memberName" th:text="#{label.member.memberName}">이름</label>
        <input style="padding:10px" type="text" id="memberName" name="memberName" class="form-control" th:value="${member.memberName}" readonly>
    </div>

    <div style="padding:10px">
        <label for="memberId" th:text="#{label.member.memberId}">ID</label>
        <input type="text" id="memberId" name="memberId" class="form-control"  th:value="${member.memberId}" readonly>
    </div>

    <div style="padding:10px">
        <label for="memberPassword" th:text="#{label.member.password}">PASSWORD</label>
        <input type="text" id="memberPassword" name="memberPassword" class="form-control"  th:value="${member.memberPassword}" readonly>
    </div>

     <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/{memberId}/edit(memberId=${member.id})}'|"
                    type="button" th:text="#{page.updateItem}">수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-success btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/myBag}'|"
                    type="button" th:text="#{button.bag}">내 장바구니</button>
        </div>
    </div>
    <hr class="my-4">

</div> <!-- /container -->
<div class="col" style="max-width: 600px; margin:0 auto">
    <button class="w-100 btn btn-dark btn-lg"
            onclick="location.href='items.html'"
            th:onclick="|location.href='@{/}'|"
            type="button" th:text="#{button.homepage}">홈페이지</button>
</div>
</body>
</html>